<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-start">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-bg-dark" data-bs-toggle="dropdown" href="#" role="button">Entities</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/entities/Area/view/page/1">Area</a></li>
                    <li><a class="dropdown-item" href="/entities/EduLang/view/page/1">EduLang</a></li>
                    <li><a class="dropdown-item" href="/entities/EduOrgType/view/page/1">EduOrgType</a></li>
                    <li><a class="dropdown-item" href="/entities/EduOrganization/view/page/1">EduOrganization</a></li>
                    <li><a class="dropdown-item" href="/entities/EduProfile/view/page/1">EduProfile</a></li>
                    <li><a class="dropdown-item" href="/entities/EduSupervisor/view/page/1">EduSupervisor</a></li>
                    <li><a class="dropdown-item" href="/entities/ExamineeData/view/page/1">ExamineeData</a></li>
                    <li><a class="dropdown-item" href="/entities/Record/view/page/1">Record</a></li>
                    <li><a class="dropdown-item" href="/entities/Region/view/page/1">Region</a></li>
                    <li><a class="dropdown-item" href="/entities/Subject/view/page/1">Subject</a></li>
                    <li><a class="dropdown-item" href="/entities/Territory/view/page/1">Territory</a></li>
                    <li><a class="dropdown-item" href="/entities/TestPass/view/page/1">TestPass</a></li>
                    <li><a class="dropdown-item" href="/entities/TestPoint/view/page/1">TestPoint</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-bg-dark" data-bs-toggle="dropdown" href="#" role="button">Stats</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/stats/query/examinees/filter">Examinees</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
